button {
    border: none;
    font-family:  'Roboto Mono', monospace;
    font-size: 12pt;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0,0,50,0.1);
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 12px 0;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.table {
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.table-header {
    padding: 0 8px;
    background-color: rgba(250, 250, 250, 1);
}