.navbar-container {
    width: 100vw;
    background-color: black;
}

a {
    display: inline-block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
}

.log-out {
    color: white;
    background-color: transparent;
    padding: 16px 16px;
    float: right;
}